<div class="go-back-icon" routerLink="/dashboard">
  <i class="fa-solid fa-rotate-left"></i>
</div>

@if (isLoading()) {
  <app-loader></app-loader>
}

@if (errorMessage.length > 1) {
  <div>{{ errorMessage }}</div>
}

@if (olympic) {
  <div class="header">
    <app-title [title]="olympic.country"></app-title>
  </div>
  <div class="infos">
    <app-number-bloc
      text="Number of entries"
      [number]="
        olympic ? olympic.participations.length.toString() : 'non-défini'
      "></app-number-bloc>
    <app-number-bloc text="Total number medals" [number]="totalMedals.toString()"></app-number-bloc>
    <app-number-bloc
      text="Total number of Athletes"
      [number]="totalAthletes.toString()"></app-number-bloc>
  </div>

  <div class="graph">
    <ngx-charts-line-chart
      [view]="view"
      [legend]="false"
      [tooltipDisabled]="true"
      [autoScale]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="'Dates'"
      [showXAxisLabel]="true"
      [animations]="true"
      [results]="lineChartData">
    </ngx-charts-line-chart>
  </div>
}
