:root {
  --main-color: #028b8f;
  --warn-color: #dd9818;
  --dark-grey: #717171;
}
* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
body {
  margin: auto;
  padding: 0 10px;
  @media (min-width: 768px) {
    padding: 0;
  }
}

p,
span,
a,
li {
  font-size: 0.8em;
  @media (min-width: 768px) {
    font-size: 1em;
  }
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  color: var(--main-color);
}

.error-message {
  color: var(--warn-color);
  text-align: center;
  font-weight: bold;
}
