:root {
  --main-color: #028b8f;
  --dark-grey: #717171;
}
* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
body {
  margin: auto;
  width:90%;
  @media(min-width: 768px) {
    width: unset;
  }
}

p, span, a, li {
  font-size : 0.8em;
  @media (min-width: 768px) {
    font-size : 1em;
  }
}

h1 {
  font-size: 2em;
}
