@if (isLoading()) {
  <app-loader></app-loader>
}

@if (errorMessage.length > 1) {
  <div>{{ errorMessage }}</div>
}

@if (olympicData$ | async; as olympics) {
  <div class="header">
    <app-title title="Medals per Country"></app-title>
  </div>
  <div class="infos">
    <app-number-bloc
      text="Number of JOs"
      [number]="numberOfJos.length.toString()"></app-number-bloc>
    <app-number-bloc text="Number of countries" [number]="olympics.length.toString()">
    </app-number-bloc>
  </div>
  <div class="graph">
    <ngx-charts-pie-chart
      [results]="olympics"
      [labels]="true"
      [doughnut]="false"
      [explodeSlices]="false"
      [tooltipDisabled]="false"
      [animations]="true"
      [legend]="false"
      [view]="view"
      (select)="onCountrySelect($event)">
      <ng-template #tooltipTemplate let-model="model">
        <div class="custom-tooltip">
          <div class="tooltip-content">
            <span>{{ model.name }}</span>
            <br />
            <span> <i class="fa-solid fa-medal"></i> {{ model.value }}</span>
          </div>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
}
