.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  @media (min-width: 768px) {
    gap: 2em;
  }
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.custom-tooltip {
  padding: 10px;

  & span {
    text-align: center;
  }
}

//Need to force tooltip colors
::ng-deep .ngx-charts-tooltip-content {
  background-color: var(--main-color) !important;
}

::ng-deep .tooltip-caret.position-top {
  border-top: 7px solid var(--main-color) !important;
}
